html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(61, 40, 250, 0.541);
  overflow-x: hidden;
  overflow-y: hidden;
}

.game_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

canvas {
  position: absolute;
  width: 23vw;
  min-width: 280px;
  max-width: 400px;

  height: 39vw;
  min-height: 500px;
  max-height: 634px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
}

h1 {
  position: relative;
  margin-top: 40px;
  left: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 2px;
  color: white;
  letter-spacing: 3px;
}

/* .key_flex_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
} */

.control_key {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 5px;
  height: 60px;
  width: 280px;
}

#space {
  height: 30px;
  width: 120px;
}

#left {
  width: 50px;
  height: 30px;
}

#right{
  width: 50px;
  height: 30px;
}

